/*To style basic-portfolio with spec delineated in homework assignment, 
change the following css code:

1. Remove border-radius:25px to remove round borders.
2. Change font for headings to:; Georgia, Times, 'Times New Roman' Serif;
4. Change color used for headings and backgrounds from '#DAF7A6' or #94BEC2' to `#4AAAA5` (<< teal listed in HW instructions)
5. Change font color (for all text except the headings) to `#777777`
6. Change main header background color to `#ffffff` and main header border color to `#cccccc`
7. Change footer background color to `#666666`
8. Change main content background color to `#ffffff` and main content border color to `#dddddd`
*/

html body {
margin : auto 0;
padding : 0;
height : auto;
background-color : #eee;
background-image : url('../images/topography.png');
font-family : arial, 'helvetica neue', helvetica, sans-serif;
text-align : justify;
color : #777777;
overflow : auto;
}
h1 {
font-family : 'helvetica neue', Times, 'Times New Roman', Serif;
font-size : 2.1em;
font-weight : bold;
}
h2, h3 {
font-family : 'helvetica neue', Times, 'Times New Roman', Serif;
font-size : 1.4em;
}

/* HEADER - LOGO - NAV */

.container {
width : 960px;
margin : auto;
overflow : auto;
}
header {
background-color : #ffffff;
color : #ffffff;
border: #cccccc;
}
#logo h1 {
float : left;
margin : auto;
padding-top : 15px;
padding-bottom : 20px;
}
h1 .highlight {
background-color : #94BEC2;
padding : 30px 30px 30px 30px;
border-radius :25px;
border : #94BEC2 solid 1px;
padding : 20px;
}
header nav {
float : right;
margin-top : 30px;
}
header ul {
margin : 0;
padding : 0;
}
header li {
float : left;
display : inline;
padding : 0 20px 0 20px;
}
header a {
color : #777777;
text-decoration : none;
}
header a:hover {
color : #DAF7A6;
}

/* FOOTER */

footer {
padding : 20px;
font-size : 10px;
color : #777777;
background-color : #ffffff;
border-top : 5px solid #94BEC2;
text-align : center;
position : fixed;
bottom : 0;
width : 100%;
}

/* MAIN BOX (content; 650px wide)*/

.main {
width : 960px;
height : 100%;
margin : 60px auto;
overflow : auto;
}
section {
background-color : #ffffff;
border : #cccccc;
max-width : 650px;
padding : 30px;
border-radius : 25px;
}

/* CONNECT SIDEBAR (aside; 270px wide) */

aside {
background-color : #ffffff;
border : #cccccc;
margin : auto 0;
max-width : 270px;
border-radius : 25px;
padding : 20px;
}
#connect {
float : right;
padding : 20px;
}
#connect h2 {
margin-bottom : 10px;
color : #94BEC2;
text-align : center;
font-weight : bold;
}
.sm-hub {
width : 100%;
text-align : center;
}
.sm-hub li {
float : left;
display : inline;
margin : auto;
}
.sm-icon a {
text-decoration : none;
margin : auto;
display : block;
}
.icon {
border : none;
width : 50px;
height : 50px;
margin : auto;
padding : 5px 10px 5px 10px;
}

/* CONTACT (contact.html) */

#contact {
height : 100%;
max-width : 650px;
}
#contact {
float : left;
width : 100%;
padding : 10px;
}
#contact h2 {
margin-top : 10px;
color : #94BEC2;
font-weight : bold;
padding : 10px 0 5px 15px;
}
#contact label {
margin-top : 20px;
color : #777;
padding : 20px 0 0 20px;
font-size : 0.9em;
font-weight : bold;
}
input[type="text"], input[type="email"], select, textarea {
width : 93%;
padding : 12px;
display: block;
border : #ccc solid 1px;
border-radius : 4px;
box-sizing : border-box;
margin : 10px 20px 10px 20px;
}
input[type="submit"] {
background-color : #94BEC2;
color : #eee;
padding : 12px 20px;
border : none;
border-radius : 4px;
cursor : pointer;
margin : 10px;
}
input[type="submit"]:hover {
background-color : #DAF7A6;
}
.contform {
background-color : #ffffff;
max-width : 650px;
}

/* HOME (index.html) */

#about {
height : 100%;
max-width : 650px;
}
#about {
float : left;
width : 100%;
padding : 10px;
}
#headshot {
float : left;
width : 200px;
height : 200px;
margin : 5px auto;
padding : 10px;
}
#about p {
clear : both;
display : inline;
text-align : justify;
line-height : 0.15em;
letter-spacing : 0.008em;
font-size : 0.96em;
margin : auto;
}
#about h2 {
margin-top : 10px;
margin-bottom : 10px;
color : #94BEC2;
font-weight : bold;
padding : 10px 0 0 10px;
}

/* PORTFOLIO (portfolio.html) */

#portfolio {
height : 100%;
max-width : 650px;
overflow : inherit;
}
#portfolio {
float : left;
width : 100%;
margin : 5px;
padding : 5px;
}
#portfolio h2 {
margin-top : 10px;
margin-bottom : 10px;
color : #94BEC2;
font-weight : bold;
padding : 10px 0 0 20px;
}
.one {
height : 175px;
width : 225px;
clear : both;
float : left;
}
.two {
height : 175px;
width : 225px;
float : left;
display : inline;
}
.three {
height : 175px;
width : 225px;
display : inline;
float : left;
}
.four {
height : 175px;
width : 225px;
display : inline;
float : left;
}
.five {
height : 175px;
width : 225px;
display : inline;
clear : both;
float : left;
}
.box:hover .image {
opacity : 0.300000011920928955078125;
}
.clearfix:after {
content : "";
display : block;
clear : both;
}
.box {
max-width : 225px;
max-height : 200px;
position : relative;
margin : 20px 20px 0 60px;
}
.image {
border-radius :25px;
}
.desc {
background : #94BEC2;
color : #ffffff;
position : absolute;
bottom : 20px;
left : 0;
right : 0;
text-align : center;
padding : 15px;
border-radius :10px; 
font-weight: bold;
}
.desc p {
font-size : 1em;
}
.wrap {
width : 95%;
background-color : #ffffff;
}






